// COLOR CHART
$main_color: #f5dbbf;
$secondary_color: white;
$accent: #1e35a8;
$main_text_color: #54401e;

// FONT WEIGHT
$main_text_weigth: 800;

// HEIGHT RULES
$nav_height: 80px;

// MEDIAQUERY
$breackpointSmall: 767px;
